.footer {
    background-color: #343a40;
    padding: 1rem;
    color: white;
    text-align: center;
  
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .footer-left {
      .numbers {
        margin: 0;
      }
    }
  
    .footer-right {
      a {
        color: white;
        margin: 0 0.5rem;
        font-size: 1.5rem;
  
        &:hover {
          color: #ffc107;
        }
      }
    }
  }
  
  