.artisan-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #FDD90B; /* Bordure jaune */
  border-radius: 10px;
  max-width: 800px; /* Augmenter la largeur maximale */
  width: 100%; /* Assurer que le conteneur occupe toute la largeur possible */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #F9D0A3; /* Fond de conteneur */
  margin-bottom: 110px;
  color: #151217; /* Couleur de texte par défaut */

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    h1 {
      color: #DA001E; /* Titre en rouge */
      margin: 0;
      font-size: 1.8em; /* Augmenter la taille du titre */
      text-align: left;
      flex: 1;
    }

    .note {
      color: #DA001E; /* Note en rouge */
      font-size: 1.5em;
      margin: 0;
      text-align: right;
      flex: 1;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;

    p {
      margin: 5px 0;
      font-size: 1.2em;
    }

    .email, .website {
      font-size: 1em;
      color: #007bff; /* Couleur bleue pour les liens */
      text-decoration: none;
      
      &:hover {
        text-decoration: underline; /* Soulignement au survol */
      }
    }

    .email::before {
      content: "E-mail: ";
      font-weight: bold;
    }

    .website::before {
      content: "Site: ";
      font-weight: bold;
    }
  }

  .about {
    margin-top: 20px;
    width: 100%;
    text-align: right;

    p {
      margin: 0;
      font-size: 1.2em;
      padding-left: 300px;
    }
  }
}




  
  
 
  


  